/* Fontes e reset */
body {
    font-family: 'Roboto', sans-serif;
    background: #1e1e1e;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #121212;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ab81ff;
    font-size: 28pt;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: #ab81ff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #ab81ff;
    color: #121212;
}

#home {
    padding: 50px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(11, 29, 228), rgb(0, 0, 0));
}

#home h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #11afdf;
}

#home .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home img {
    width: auto;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#home p {
    max-width: 800px;
    font-size: 18px;
    line-height: 1.6;
    color: #ddd;
}

#projetos {
    padding: 50px;
    text-align: center;
    background-color: #121212;
}

#projetos h2 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #11afdf;
}
.projetos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.card {
    background-color: #121212;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
    color: #ab81ff;
    margin-top: 15px;
    font-size: 22px;
}

.card p {
    color: #ddd;
    margin: 15px 0;
    font-size: 16px;
}

.card a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #11afdf;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.card a:hover {
    background-color: #0e9cc8;
}

.card:hover {
    transform: scale(1.05);
}

/* Footer */
footer {
    padding: 20px;
    background-color: #121212;
    text-align: center;
}

footer a {
    color: #ab81ff;
    text-decoration: none;
}

.whatsapp-btn {
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin: 10px auto;
}

.whatsapp-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.whatsapp-btn:hover {
    background-color: #1ebe56;
}